{% extends "layout.html" %}
{% load static %}

{% block body %}
    <h1>Dishes</h1>
    <div id="card-container">
        {% for dish in object_list %}
            <div class="card mb-3 h-100 clickable-card" role="button">
                <table>
                    <tbody>
                        <tr>
                            <td class="card-td">
                                <div class="card-img-top text-center">
                                    <img src="{{ dish.img.url }}" class="dish-photo"  alt="{{ dish.name }} photo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ dish.name }}</h5>
                                    <p class="card-text">{{ dish.price|floatformat:2 }} zł</p>
                                </div>
                            </td>
                            <td class="collapse-td">
                                <div id="collapse{{ forloop.counter }}" class="collapse">
                                    <h3>Składniki:</h3>
                                    <ul>                                        
                                        {% for product in dish.ingredients.all %}
                                            <li>{{ product }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
        
{% endblock %}

{% block script %}
    <script src="{% static 'toggle_dish.js' %}"></script>
{% endblock %}