body {
    padding: 10px;
  }
  
  .list-group-item img {
    height: 100px;
    max-width: 100%;
  }
  
  .product {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list-group {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Zmieniono align-items na stretch */
    width: 100%;
    height: 130px;
  }
  
  .list-group-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
  }
  
  .buttonNotChecked{
    display: inline-block;
    padding: 10px 20px;
    background-color: #308c0e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
  }
  .buttonChecked{
    display: inline-block;
    padding: 10px 20px;
    background-color: #a52834;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    border: none;
  }


  .image-container {
    height: 200px;
    width: 100%;
    background-color: rgb(93, 89, 89);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    max-height: 150px;
    border-radius: 50px;
    padding: 10px;
  }
  
  .text-container {
    display: block;
    font-size: 20px;
    background-color: rgb(60, 60, 68);
    padding: 10px 20px;
    color: white;
  }
 

  .description-container {
    background-color: rgb(90, 95, 106);
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: white;
    border: 3px solid rgb(55, 53, 69);
  }
  
  .description-container .row > div {
    padding: 7px;
    border: 3px solid rgb(55, 53, 69);
  }

  #bid-input{
    padding-top: 10px;
  }
