{% extends "layout.html" %}
{% load static %}
{% block body %}
  
  <div style="text-align: center; padding-top: 20px; color: #d9e8da;">
    <h1 class="display-5">Weather Desktop App</h1>
    <h5>Stay up to date with the current weather</h5>

    <img src="{% static 'images/weather.png' %}" class="image" style="width: 100px; margin-bottom: 50px; margin-top: 5px;">
  </div>
  
  <nav class="navbar navbar-dark" style="padding: 10px; margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
    <form method="post" class="col-md">
      {% csrf_token %}

      <div class="input-group mb-3">
        <input type="text" class="form-control" style="background-color: rgb(231, 254, 228);" id="cityInput" name="city" placeholder="Choose Your City ..." autocomplete="off">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
</nav>
<div id="suggestionsContainer" class="col-md" style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
    <ul id="suggestionsList" class="list-group"></ul>
</div>

  <div class="row">
    {% if data.country_code and data.temp and data.pressure %}
    <div class="col d-flex justify-content-center" style="margin-bottom: 50px;">
      <div class="card text-white mb-6" style="background-color: rgb(42, 51, 114);">
        <div class="card-body">
          <h3 style="text-align: center;"><strong>{{ data.city }}</strong></h3>
          <h4><span class="badge badge-primary">Country Code:</span> {{ data.country_code }}</h4>
          <h4><span class="badge badge-primary">Temperature in Celsius:</span> {{ data.temp }}</h4>
          <h4><span class="badge badge-primary">Pressure:</span> {{ data.pressure }}</h4>
          <h4><span class="badge badge-primary">Forecast:</span> {{ data.main }} <img
              src="http://openweathermap.org/img/w/{{ data.icon }}.png" alt="Weather Icon" style="width: 70px;"></h4>
          <h4><span class="badge badge-primary">Description:</span> {{ data.description }}</h4>
        </div>
      </div>
    </div>
    {% elif data.error %}
    <div class="col d-flex justify-content-center">
      <div class="card text-white mb-6" style="background-color: firebrick;">
        <div class="card-body">
          <h3 style="text-align: center;"><strong>Error</strong></h3>
          <h4>{{ error }}</h4>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  
  {% endblock %}

  {% block script %}
    <script src="{% static 'form.js' %}"></script>
  {% endblock %}
