{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <title>Weather App</title>
         
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block script %}
        {% endblock %}
        
    </head>
    <body>
        <header>
            {% bootstrap_messages %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px; height: 66px;">
                <a class="navbar-brand" href="{% url 'index' %}">Weather App</a>
            
                <div class="navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_profile' user.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l-.074.136c-.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            
            
            
            
            
        </header>
        <main>
            <div id="content">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <footer class="bg-dark text-white" style="height: 200px;">
            <div class="container p-4">
                <section class="mb-4">
                    <p>
                    Pawel's Weather Page.
                    </p>
                </section>
                <section class="mb-4">         
                    <p>Contact:</p>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="mailto:pawel80121@gmail.com" role="button"><i class="fab fa-google"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href=" https://www.facebook.com/profile.php?id=100009417416761" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fjust_plaew%3Ffbclid%3DIwAR2kbbg6BOtIxcaffo-vwMlke4PwTPMnzFNTNUskc7U2jN2lyLP2ai6t0GY&h=AT0mERjdo9yE2QyqNJRNslntu6ke9jNBEVZAWxIuZ_9TTZRmJrDhG9WcxR4kXEjjlUrTBOVg-RvQAy8WaPlFjwtJPI2BqmTGjXdcIlxu6dx5lc6VKWAfbll5oHaSXglquB-N" role="button"><i class="fab fa-instagram"></i></a>
                    
                </section>
            </div>
        </footer>

    </body>
</html>