{% extends "auctions/layout.html" %}

{% block body %}
    {% include "auctions/notifications.html" %} 
    <div class="image-container">
        <div class="text-container"> </div>
        <img src="{{product.image.url}}" class="img-fluid" alt="Product image">
        <div class="text-container">
            {{product.title}}
        </div>
    </div>
    
    <div class="description-container">
        <div class="row">
          <div class="col-8">Created by '{{product.author}}' on {{product.created_date}}</div>
          <div class="col-4">Category: {{product.category}}</div>
          <div class="col-4">Current bid: {{product.current_bid}}$</div>
          <div class="col-8">Bid owner: {{bid_owner}}</div>
          <div class="col-12">Description:<br>{{product.description}}</div>
        </div>      
    </div>
    <div class="page-container">
        {% if auction_owner and user.is_authenticated %}
            <form action="{% url 'product' product.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" name="end_auction" class="btn btn-danger" style="width: 100%;">End Auction</button>  
            </form>
            {% elif user.is_authenticated %}
            <form action="{% url 'product' product.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="display: flex; margin-top: 5px;">
                    <div style="flex-grow: 1;">
                        {{ form.user_bid }}
                    </div>
                    <div>
                        <button type="submit" name="bid_submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>

            
            
            <form action="{% url 'product' product.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating" style="padding-top: 7px; text-align: center;">
                    <textarea class="form-control" name="user_comment" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px;"></textarea>
                    <button type="submit" name="comment_submit" class="btn btn-success" style="margin:5px">Submit</button>
                </div>
            </form>
        {% endif %}
        Comments:
        <div class="row">
            {% for comment in comments %}
                <div class="col-12" style="border:solid 1px ;">{{comment.user}}:<br>{{comment.text}}</div>
            {% endfor %}
        </div>
    </div>   
    <a href="{% url 'index' %}">Back to main menu</a>
{% endblock %}