{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>
    {% include "auctions/notifications.html" %}
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'index' %}" role="button" aria-expanded="false">Select Category</a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'watchlistWithCateogry' category.id %}">{{category.name}}</a></li>
                {% endfor %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'watchlist' %}">All</a></li>
            </ul>
        </li>
    </ul>

    {% for listing in listings %}
        {% include "auctions/activeListing.html" %}
    {% endfor %}

{% endblock %}