{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="new_post_view">
        <div class="post">
            <form id="post_form">
                <h2>New Post</h2>
                <textarea id="post_content"></textarea>
                <input id="submit_button" value="Post" type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>

    <div id="following_view">
    </div>

    <div id="user_page_view">
        <div id="user_info_bar" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="container" style="margin: 0;">
                <div class="row">
                    <div class="col-1" style="text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </div>
                    <div class="col-3" id="username-col"></div>
                    <div class="col-2" id="followers-col"></div>
                    <div class="col-2" id="following-col"></div>
                    <div class="col-2" id="posts-col"></div>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>Some content here...</p>
            </div>
        </div>

        <div id="userPosts">
        </div>
    </div>

    <div id="posts_view">
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/pages.js' %}"></script>
{% endblock %}