{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Pawel's Restaurant{% endblock %}</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block script %}
        {% endblock %}
        
    </head>
    <body>
        {% bootstrap_messages %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
            <a class="navbar-brand" href="{% url 'main_page' %}">Pawel's Restaurant</a>
            <a class="navbar-brand" href="{% url 'dishes' %}">Menu</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item" style="display: flex; align-items: center;">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item" style="display: flex; align-items: center;">
                            <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                        </li>
                        <li class="nav-item" style="display: flex; align-items: center;">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                    {% endif %}
                    <li class="nav-item" style="margin-left: 15px;">
                        <a class="nav-link" href="#">
                            <span id="cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                Koszyk
                                {% if user.new_orders %}
                                    <span class="badge rounded-pill" style="background-color: brown;">{{user.new_orders}}</span>
                                {% endif %}
                            </span>    
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" style="padding: 20px;">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>