{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Pawel's Restaurant{% endblock %}</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
         
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block script %}
        {% endblock %}
        
    </head>
    <body>
        <header>
            {% bootstrap_messages %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px; height: 66px;">
                <a class="navbar-brand" href="{% url 'main_page' %}">Pawel's Restaurant</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'kitchen:dishes' %}">Wszystko</a></li>
                        <hr><li><a class="dropdown-item" href="{% url 'kitchen:dishes_category' 'breakfast' %}">Śniadania</a></li>
                        <li><a class="dropdown-item" href="{% url 'kitchen:dishes_category' 'main_course' %}">Dania główne</a></li>
                        <li><a class="dropdown-item" href="{% url 'kitchen:dishes_category' 'dessert' %}">Desery</a></li>
                        <li><a class="dropdown-item" href="{% url 'kitchen:dishes_category' 'drink' %}">Napoje</a></li>              
                    </ul>
                </div>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_owner %}
                            <li class="nav-item" style="display: flex; align-items: center;">
                                <a class="nav-link" href="{% url 'orders:ordersSummary' %}">Zarządzanie</a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item" style="display: flex; align-items: center;">
                                <a class="nav-link" href="{% url 'account_logout' %}">Wyloguj</a>
                            </li>
                        {% else %}
                            <li class="nav-item" style="display: flex; align-items: center;">
                                <a class="nav-link" href="{% url 'account_login' %}">Zaloguj</a>
                            </li>
                            <li class="nav-item" style="display: flex; align-items: center;">
                                <a class="nav-link" href="{% url 'account_signup' %}">Zarejestruj</a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}   
                        <li class="nav-item" style="margin-left: 15px;">
                            <a class="nav-link" href="{% url 'orders:cart_detail' user.get_or_create_order.pk %}">
                                <span id="cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    Koszyk   
                                    {% if user.new_orders %}
                                        <span class="badge rounded-pill" style="background-color: brown;">{{user.new_orders}}</span>
                                    {% endif %}
                                </span>    
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main>  
            <div id="content">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <footer class="bg-dark text-white" style="height: 200px;">
            <div class="container p-4">
                <section class="mb-4">
                    <p>
                    Pawel's Restaurant Page.
                    </p>
                </section>
                <section class="mb-4">         
                    <p>Kontakt:</p>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="mailto:pawel80121@gmail.com" role="button"><i class="fab fa-google"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href=" https://www.facebook.com/profile.php?id=100009417416761" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fjust_plaew%3Ffbclid%3DIwAR2kbbg6BOtIxcaffo-vwMlke4PwTPMnzFNTNUskc7U2jN2lyLP2ai6t0GY&h=AT0mERjdo9yE2QyqNJRNslntu6ke9jNBEVZAWxIuZ_9TTZRmJrDhG9WcxR4kXEjjlUrTBOVg-RvQAy8WaPlFjwtJPI2BqmTGjXdcIlxu6dx5lc6VKWAfbll5oHaSXglquB-N" role="button"><i class="fab fa-instagram"></i></a>
                    
                </section>
            </div>
        </footer>

    </body>
</html>