body {
    padding: 10px;
    height: 100vh;
  }

.post {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#post_content, .editTextarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: calc(50vh - 110px);
}

#submit_button, .submitEditButton {
  margin-top: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit_button:hover {
  background-color: #2980b9;
}

#displayed_post{
  text-align: left;
}

.info-text {
  font-weight: bold;
}

.comments-section {
  margin-top: 10px; 
}


.container{
  margin: 0; 
}

#user_info_bar{
  background-color: rgb(251, 252, 242);
}

.author-clickable {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.author-clickable:hover {
  text-decoration: underline;
  color: black;
}

#user_page_view{
  padding-top: 10px;
  padding-bottom: 10px; 
}

#followers-col, #following-col, #posts-col{
  display: grid;
  place-items: center;
}

.info-text{
  text-align: center;
}

#username-col{
  display: grid;
  place-items: center;
}

#userPosts{
  margin-top: 10px;
  margin-bottom: 10px;
}

#highCenterRow{
  display: flex;
  align-items: flex-start;
}

#highCenterCol{
  flex: 1;
  text-align: left;
}

#following-col{
  border: 5px solid transparent;
}

#following-col:hover {
  border-color: #033387;
}

#followers-col{
  border: 5px solid transparent;
}

#followers-col:hover {
  border-color: #b82d14;
}

#main-follow-button{
  margin-top: 10px;
  width: 120px;
}

.editButton{
  text-decoration: none;
  cursor: pointer;
  color: rgb(17, 70, 195);
}

.editButton:hover{
  color: rgb(17, 70, 195);
  text-decoration: underline;
}
